body{padding:0;margin:0;}
.img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}
.title{margin: 0 auto; width: 320px; height:10vh; text-align: center;color: #00b7e6;}

.default_text{margin: 0 auto; width: 320px;height: 10vh;  text-align: center;color: white;}
.default_input{ border-radius:0px}
#submit_button{margin: 0 auto;width: 240vw; height: 6vh; background-color: #00b7e6; padding: 0px;border: 0px;}

.space30{margin: 0 auto; width: 320px; height:30vh;}
.desc{margin: 0 auto; øwidth: 320px; height:8vh; text-align: center;color: #00b7e6}


#btn_confirm{margin-left: 0%; left:25%; top: 75%; position: absolute; width: 50%;height: auto;}


#result_header{margin-bottom:0;}

.img_dlg_bg{padding:0;margin:0;width: 320px; margin-left: -160px; left:50%; position: absolute; height:auto;z-index:-1;} 

#view_login{display: block}
#view_lottery{display: none}
#view_reward{display: none}
