body{padding:0;margin:0;}

#img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}

.title{margin:0 auto; padding-left:0vw; padding-top:5vh; width:90vw;height:auto;text-align:left;color:white;}

#dialog{margin-top:10vh; margin-left:24vh; width:40vw;height:auto;}
#dialog_bg{width:100%;height:auto;} 
#dialog_txt{margin:0 auto;position: absolute; width:100%;height:auto;left:18vw;top:34vh;text-align:left;color:white}

.content0, .content1{
    width:40vw;height:auto;padding-left:11vw;margin-top:2vh;text-align:left;color:#8de7fd;
}

.content2{
    position:absolute; left: 60vw; top: 27vh; width:40vw;height:auto;text-align:left;color:#8de7fd;
}

.content3{
    position:absolute; left: 60vw; top: 36vh; width:40vw;height:auto;text-align:left;color:#8de7fd;
}

.content4{
    position:absolute; left: 60vw; top: 45vh; width:40vw;height:auto;text-align:left;color:#8de7fd;
}

#badge_block{left:70vw; top: 60vh; width:16vw; height:auto;position: absolute;} 
#badge_bg{width:100%; height:auto; position: absolute;} 
#badge{width:94%; height:auto; position: absolute;}
