body{padding:0;margin:0;}

#img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}

.title{margin:0 auto; padding-left:10vw; padding-top:4vh; width:80vw;height:auto;text-align:left;color:white;}

#dialog{margin-top:7vh; margin-bottom:3vh}

#dialog_bg{margin-left: 18vw; left:50vw; width:64vw;height:auto;} 
#dialog_txt{margin:0 auto;position:absolute; width:77vw;height:10vh;left:23vw;top:20vh;text-align:left;color:white}

.content0, .content1, .content2, .content3, .content4 {
    margin:0 auto; width:80vw;height:auto;padding-left:18vw;margin-top:1vh;text-align:left;color:#8de7fd;
}

#badge_block{margin:0 auto; margin-top: 3vh; width:36vw; height:auto;margin-left:32vw;position: relative;} 
#badge_bg{margin:0 auto; width:36vw; height:auto; position: absolute;} 
#badge{margin:0 auto; width:36vw; height:auto;left:-1vw;top:-1vh; position: absolute;}
