body{padding:0;margin:0;}

.title{margin: 0 auto; width: 320px; height:10vh; padding-top: 10vh; text-align: center;color: white;}

#txt_info{margin: 0 auto; margin-top: 4vh; width: 320px;height: 10vh;  text-align: center;color: #00b7e6}
#txt_ping{margin: 0 auto; width: 320px;height: 10vh;  text-align: center;color: white}

.desc{margin: 0 auto; width: 320px; height:8vh; text-align: center;color: #00b7e6}

#total_score{margin: 0 auto; width: 320px;height: 40px;  text-align: left;color: white; padding-left: 2px; padding-top: 16px;}

#result_header{margin-bottom:0;}

.help_title{height:auto;width:45%; text-align: center;color: white;z-index:102};
.help_img{height:auto;width:100%;z-index:102};

#view_wait{display: block}
#view_play{display: none}
#view_result{display: none}