body{padding:0;margin:0;}
.img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}
.title{margin: 0 auto; width: 320px; height:20vh; text-align: center;color: #00b7e6;}

#txt_info{margin: 0 auto; width: 320px;height: 10vh;  text-align: center;color: white}
#img_game_intro{margin-left: -160px; left:50%; position: absolute; width: 320px;height: auto;} 
.space30{margin: 0 auto; width: 320px; height:30vh;}
.desc{margin: 0 auto; width: 320px; height:8vh; text-align: center;color: #00b7e6}

#txt_score{margin: 0 auto; width: 320px;height: 2vh;  text-align: left ;color: white}
#img_dog{margin-left: -100px; left:50%; position: absolute; width: 200px;height: auto;} 
.space40{margin: 0 auto; width: 320px; height:36vh;}
#button{margin-left: -130px; left:50%; position: absolute; width: 260px;height: auto;} 

#total_score{margin: 0 auto; width: 320px;height: 40px;  text-align: left;color: white; padding-left: 2px; padding-top: 16px;}
#wrapper{padding:0;margin:0;width: 320px; margin-left: -160px; left:50%; position: absolute; height:100vh;color: #00b7e6} 
#result_header{margin-bottom:0;}

.img_dlg_bg{padding:0;margin:0;width: 320px; margin-left: -160px; left:50%; position: absolute; height:auto;z-index:-1;} 

#view_wait{display:block}
#view_play{display: none}
#view_result{display: none}

#level_0{display:block}
#level_1{display:none}
#level_2{display:none}
#level_3{display:none}
#level_4{display:none}