body{padding:0;margin:0;}
.img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}
.mask{
    width: 30vw;
    height: 30vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: fixed;
	top: 23.5%;
    left: 35vw;
    background: rgba(0,0,0,0.6);
    border-radius: 25vw;
    transform:scale(1.25);
    display: none;
}
.img_dlg_bg{padding:0;margin:0;width: 100%; margin-left: -50%; left:50%; position: absolute; height:auto;z-index:-1;}
/*.button {*/
    /*width:80px;*/
/*}*/
.mask img {
    width:40%;
    margin:0 auto;
    animation: ro90 ease infinite 1.5s;
}
.mask p{
    color:#fff;
    font-size:3.8vw;
    margin-top:1vw;
    text-align: center;
    font-weight: normal;
}

@keyframes ro90 {
    0%{transform:rotate(0deg)}
    100%{transform:rotate(360deg)}
}
