body{padding:0;margin:0;}
.img_bg{width:100vw;height:auto;position:absolute;z-index:-1;}
.title{margin: 0 auto; width: 320px; height:20vh; text-align: center;color: #00b7e6;}

#net_info{margin: 0 auto; width: 320px;height: 10vh;  text-align: center;color: white}

#wait{display: block}
#vote{display: none}
#result{display: none}
#purchase{display: none}
