/********the style of the page*********/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{
	margin:0;
	padding:0;
	list-style:none;
	font-family: "微软雅黑";
	-webkit-appearance: none;
}
a{
	color:#2b2b2b;
	text-decoration:none;
}
body{
	font-size:24px;
	background-color: #f7f5e9;
}
img {
	border:0px;
}

#view_login{
	overflow: hidden;
}

.the-header{
	width: 100%;
	height: 450px;
	background-color: #7bafba;
}
.the-title{
	padding-top: 80px;
}
.the-title h3{
	display: block;
    font-size: 46px;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding: 5px 0;
    font-weight: 300;
}

.the-content{
	padding: 100px 40px 0 40px;
}
.the-content .the-tips{
	font-size: 26px;
	color: #98979c;
}
.the-content form.the-forms{
	overflow: hidden;
	margin-top: 15px;
}
.the-content input{
	float: left;
	border: none;
	outline: none;
	padding: 20px 0;
	font-size: 30px;
	margin: 15px auto;
}
.the-content input::-webkit-input-placeholder{
    color: #bcbcbc;
    font-weight: 100;
}
.the-content input.login_ipt{
	width: 60%;
	border-radius: 5px 0 0 5px;
	background-color: #fff;
	text-indent: 20px;
}
.the-content input.close_tel{
	width: 40%;
	background-color: #0097a8;
	border-radius: 0 5px 5px 0;
	color: #fff;
}
.the-content input.code{
	width: 100%;
	background-color: #fff;
	border-radius: 5px;
	text-indent: 20px;
}
.updateBtn{
	overflow: hidden;
	width: 100%;
}
.updateBtn button{
	display: inline-block;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	background-color: #e37037;
	font-size: 34px;
	color: #fff;
	border: none;
	margin: 15px auto;
	outline: none;
	letter-spacing: 2px;
}

.phone-icon{
	position: absolute;
	width: 100px;
	height: 200px;
	background-color: #98ce20;
	border-radius: 15px;
	left: 50%;
    margin-left: -50px;
    top: 280px;
}
.phone-icon .ear{
	position: absolute;
	width: 100%;
}
.phone-icon .ear span{
	position: absolute;
}
.phone-icon .ear span:before{
	content: '';
	position: absolute;
	width: 14px;
    height: 36px;
    top: -20px;
	border-radius: 50px;
	background-color: #98ce20;
}
.left-ear{
	left: 16px;
}
.right-ear{
	right: 14px;
}

.eyebrows{
	position: relative;
	float: left;
    width: 100%;
}
.eyebrows span:before{
	content: '';
	position: absolute;
	width: 36px;
    height: 10px;
	background-color: #414141;
}
span.left-eyebrows{
	float: left;
	transform: rotate(-30deg);
    margin-top: 20px;
    margin-left: -10px;
}
span.right-eyebrows{
	float: right;
	transform: rotate(20deg);
	margin-top: 10px;
}
span.right-eyebrows:before{
	right: 4px;
}

.eyes{
	float: left;
	margin: 3px 8px;
}
.eyes .left-eye,.eyes .right-eye{
	position: relative;
	float: left;
	width: 35px;	
	height: 35px;
	border-radius: 50px;
	background-color: #fff;
}
.eyes .left-eye span,.eyes .right-eye span{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background-color: #414141;
	left: 3px;
	top: 3px;
}
.mouth{
	float: left;
    width: 60px;
    height: 33px;
    border-radius: 0 0 50px 50px;
    background-color: #42770e;
    position: relative;
    left: 50%;
    margin-left: -30px;
    margin-top: 12px;
}
.state-animate .eyes span{
	animation: eye 4s ease-in-out infinite;
	-webkit-animation: eye 4s ease-in-out infinite;
	-moz-animation: eye 4s ease-in-out infinite;
}
@keyframes eye{
	0%{
		left: 3px;
	}
	25%{
		left: 15px;
	}
	50%{
		left: 15px;
	}
	75%{
		left: 3px;
	}
	100%{
		left: 3px;
	}
}
@-webkit-keyframes eye{
	0%{
		left: 3px;
	}
	25%{
		left: 15px;
	}
	50%{
		left: 15px;
	}
	75%{
		left: 3px;
	}
	100%{
		left: 3px;
	}
}

/******public style*****/
.layui-m-layercont{
	font-size: 26px;
}
.layui-m-layerbtn{
	height: 80px !important;
    line-height: 80px !important;
}
.layui-m-layerbtn span{
	font-size: 28px !important;
}
